:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: rgba(157, 164, 189, 0.6);
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --fourth-text-color: #555555;
  --first-button-color: #ffffff;
  --second-button-color: #303030;
  --header-text-color: #ffffff;
  --accent-color: #ff6c00;
  --alt-background-color: #f7f7f7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.pre-link, .modal-close, .pre-title {
  display: flex;
  align-items: center;
}

@keyframes time-anim {
  from {
    --time: 5;
  }
  to {
    --time: 50;
  }
}
.snow-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  touch-action: all;
  pointer-events: all;
  z-index: -1;
}

@keyframes flake {
  0% {
    transform: translate(var(--x-start), var(--y-start)) rotate(0);
  }
  100% {
    transform: translate(var(--x-end), var(--y-end)) rotate(50deg);
  }
}
.snowflake {
  --time: 20;
  --sz: 1rem;
  --blur: 2px;
  --a: .6;
  --x-start: 50vw;
  --x-end: 0;
  --y-start: -25vh;
  --y-end: 100vh;
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: var(--sz);
  filter: url(#circleBlur4);
  animation: flake calc(var(--time) * 1s) linear infinite var(--delay);
  transform: translate(var(--x-start), -15vh) rotate(0);
  opacity: var(--a);
  z-index: 1000;
}
.snowflake--m {
  --a: .5;
  --time: 20;
  --sz: 2rem;
  z-index: 2000;
  filter: unset;
}
.snowflake--l {
  --a: .8;
  --time: 20;
  --sz: 3rem;
  z-index: 8000;
}
.snowflake--xl {
  --a: 1;
  --time: 20;
  --sz: 5rem;
  filter: url(#circleBlur40);
  z-index: 14000;
}

html {
  --surface: hsl(200 10% 10%);
  --text: hsl(200 5% 80%);
  --hero-h: calc(100vh - 40px);
  background-color: var(--surface);
  color: var(--text);
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  overflow-y: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.pre-title {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .pre-title {
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
}
.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 21px;
  background: grey;
}

.pre-title--color-dark {
  color: var(--third-text-color);
}

.pre-title--color-light {
  color: var(--first-text-color);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px;
  transition: color 300ms linear, background-color 300ms linear;
}
.btn:hover, .btn:focus {
  color: var(--first-button-color);
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .btn {
    max-width: 160px;
  }
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: opacity 300ms, visibility 300ms;
}
.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(270deg) translate(100px, 100px);
}
.backdrop.is-hidden .mob-menu {
  transform: scale(1.5) rotate(360deg) translate(100px, 100px);
}

.modal {
  width: 300px;
  min-height: 300px;
  background-color: #f3f3f3;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 25;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: opacity 300ms, visibility 300ms;
}
@media screen and (min-width: 768px) {
  .modal {
    left: 50%;
    width: 418px;
    min-height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 550px;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  justify-content: center;
}

.close-icon:hover, .close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 15px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  color: teal;
  transition: border-color 300ms linear;
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}
.modal-input::placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  transition: fill 300ms linear;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  resize: none;
  background-color: transparent;
  color: teal;
  transition: border-color 300ms linear;
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::-moz-placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}
.modal-text::placeholder {
  font-size: 14px;
  color: tomato;
  opacity: 0.7;
}

.modal-input-text {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: var(--fourth-text-color);
}

.modal-btn {
  margin: 0 auto;
  color: var(--second-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(70% - 20px);
}
@media screen and (min-width: 768px) {
  .modal-btn {
    max-width: 160px;
  }
}

.input-btn-icon {
  margin-left: 6px;
  transition: fill 300ms linear;
}

.modal-check-text {
  font-size: 14px;
  color: var(--fourth-text-color);
  display: flex;
  position: relative;
  align-items: center;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-check {
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .modal-check-text .icon-check {
  fill: teal;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.header-item {
  margin-right: 24px;
}
@media screen and (min-width: 1200px) {
  .header-item {
    margin-right: 40px;
  }
}
.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
  transition: color 300ms linear;
  position: relative;
}
.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -48px;
}

.header-connect {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .header-connect {
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

.header-logo {
  fill: #ffffff;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 70px;
    margin-left: 0;
    fill: #303030;
  }
}

.header-tel {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-tel {
    display: inline;
    margin-right: 21px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    transition: color 300ms linear;
  }
  .header-tel:hover, .header-tel:focus {
    color: var(--accent-color);
  }
}

.header-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: block;
    color: var(--first-button-color);
    margin-left: 40px;
  }
}

.open-menu-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.menu-burger {
  fill: #fff;
}
.menu-burger:hover, .menu-burger:focus {
  fill: var(--accent-color);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 337px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
  transform: scale(0);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 40px;
}
.mob-menu.is-shown {
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-top {
  display: flex;
  flex-direction: column;
}
.mob-menu-top:first-child {
  justify-content: flex-end;
}

.mob-menu-bottom {
  margin-top: 64px;
}

.close-menu-btn {
  display: block;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
}

.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #303030;
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-menu-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
  display: block;
  margin-bottom: 24px;
}
.mob-menu-tel:hover, .mob-menu-tel:focus {
  color: var(--accent-color);
}

.mob-menu-connect {
  margin-bottom: 64px;
}

.pre-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.pre-link::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 21px;
  background-color: #303030;
}

.second {
  margin-left: 82px;
}

.mob-social-list {
  display: flex;
  flex-direction: column;
}

.mob-social-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-social-item .mob-social-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #303030;
}
.mob-social-item .mob-social-link:hover, .mob-social-item .mob-social-link:focus {
  color: var(--accent-color);
}

.btn-up {
  position: fixed;
  background-color: #303030;
  right: 35%;
  bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #000;
  }
}
.hero-container {
  display: flex;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .hero-container {
    width: 100%;
  }
}

.hero-left {
  width: 93px;
  display: none;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-left {
    width: 93px;
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
  }
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
  align-items: center;
}
.hero-list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: #303030;
  margin-right: 40px;
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(---main-title-color);
  transition: color 300ms linear;
}
.hero-link:hover, .hero-link:focus {
  color: var(--accent-color);
}

.hero-right {
  background-color: var(--fourth-text-color);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/mobile-slider-img-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 208px;
  padding-left: 31px;
  padding-bottom: 183px;
  z-index: -20;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/mobile-slider-img-3-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-right {
    padding-top: 272px;
    padding-bottom: 206px;
    padding-left: 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/tablet-slider-img-3.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/tablet-slider-img-3-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/tablet-slider-img-3-2x.jpg);
  }
}

.hero-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}
.hero-pre-title::before {
  background-color: var(--first-text-color);
}
.hero-pre-title:hover:before {
  background-color: tomato;
}

.hero-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
  }
}

.hero-after-title {
  max-width: 400px;
  color: var(--second-text-color);
}
@media screen and (max-width: 480px) {
  .hero-after-title {
    max-width: 306px;
  }
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 139px;
    padding-bottom: 121px;
  }
}

.about-container {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .about-right {
    width: 330px;
  }
}

.about-list {
  display: none;
  z-index: -20;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    flex-direction: row;
    margin-right: 64px;
  }
}

.about-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .about-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.about-pre-title {
  margin-bottom: 20px;
}
.about-pre-title::before {
  background-color: var(--third-text-color);
}

.about-title {
  margin-bottom: 20px;
  color: var(--main-title-color);
}
@media screen and (max-width: 1200px) {
  .about-title {
    font-size: 28px;
  }
}

.about-after-title {
  color: var(--second-text-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .about-after-title {
    font-size: 16px;
  }
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 44px;
}

.about-btn {
  color: var(--first-button-color);
}

.prices {
  padding-top: 84px;
  padding-bottom: 84px;
  background-image: url(../img/prices-bg-mob.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  z-index: -20;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/prices-bg-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1280px;
    background-image: url(../img/prices-bg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-2x.png);
  }
}

.prices-container {
  z-index: -20;
}

.prices-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.prices-pre-title::before {
  background-color: var(--first-text-color);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .prices-wrap {
    flex-direction: row;
  }
}

.prices-list {
  max-width: 100%;
  padding: 30px 30px;
}
@media screen and (min-width: 768px) {
  .prices-list {
    width: 690px;
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .prices-list {
    width: 50%;
  }
}

.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
  background: linear-gradient(360deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .prices-list-dark {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
}

.prices-item-text {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
@media screen and (min-width: 768px) {
  .prices-item-text {
    font-size: 18px;
  }
}

.prices-btn {
  color: var(--first-button-color);
  display: block;
  margin: 0 auto;
}

.reasons {
  padding: 84px 0 42px 0;
}
@media screen and (min-width: 768px) {
  .reasons {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .reasons {
    padding: 130px 0 65px 0;
  }
}

.reasons-container {
  display: flex;
  padding-right: 5px;
  padding-left: 15px;
  max-width: 448px;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .reasons-container {
    max-width: 689px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-container {
    flex-direction: row;
    max-width: 100%;
  }
}

.reasons-left {
  display: flex;
  justify-content: center;
}

.reasons-list {
  z-index: -20;
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-left {
  width: 380px;
}
@media screen and (min-width: 768px) {
  .reasons-left {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-left {
    width: calc(50% - 30px);
  }
}

.reasons-right {
  width: 380px;
}
@media screen and (min-width: 768px) {
  .reasons-right {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-right {
    width: calc(50% - 30px);
  }
}

.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
  display: flex;
  text-align: center;
  justify-content: center;
}

.reasons-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}

.reasons-pre-title {
  margin-bottom: 20px;
}

.reasons-pre-title::before {
  background-color: var(--third-text-color);
}

.reasons-title {
  color: var(--main-title-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .reasons-title {
    font-size: 28px;
    max-width: 400px;
  }
}

.reasons-after-title {
  margin-bottom: 44px;
  color: var(--second-text-color);
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .reasons-after-title {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.masters {
  padding: 42px 0;
}
@media screen and (min-width: 768px) {
  .masters {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .masters {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.masters-container {
  padding: 84px 31px;
  background-color: var(--alt-background-color);
}
@media screen and (min-width: 768px) {
  .masters-container {
    padding: 100px 159px;
  }
}
@media screen and (min-width: 1200px) {
  .masters-container {
    padding: 130px 55px;
  }
}

.masters-pre-title {
  margin-bottom: 20px;
}
.masters-pre-title ::before {
  background-color: var(--third-text-color);
}

.masters-title {
  color: var(--third-text-color);
  margin-bottom: 44px;
}

.masters-list {
  z-index: -20;
  display: flex;
  flex-direction: column;
  margin-right: -30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .masters-list {
    flex-direction: row;
  }
}

.masters-item {
  flex-basis: calc(100% - 90px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.masters-item-content {
  padding-top: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--second-title-color);
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.masters-social-list {
  display: flex;
  justify-content: center;
}

.masters-social-item {
  width: 44px;
  height: 44px;
}

.masters-social-item + .masters-social-item {
  margin-left: 10px;
}

.masters-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: color 300ms linear, background-color 300ms linear;
}
.masters-social-link:hover, .masters-social-link:focus {
  color: var(--accent-color);
}

.masters-social-icon {
  fill: #000000;
}
.masters-social-icon:hover, .masters-social-icon:focus {
  fill: var(--accent-color);
}

.gallery {
  padding: 42px 0 84px 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 65px;
    padding-bottom: 130px;
  }
}

img {
  width: 100%;
}

.gallery-pre-title {
  margin-bottom: 44px;
}
.gallery-pre-title::before {
  color: var(--third-text-color);
}

.gallery-list {
  margin-bottom: -30px;
  margin-right: -30px;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    flex-wrap: nowrap;
  }
}

.gallery-item {
  z-index: -20;
  margin-bottom: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc(25% - 30px);
  }
}

.contact-wrapp .container {
  display: flex;
  background-color: #191C26;
}

.contact-wrapp .container {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .online-container {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .online-container {
    display: flex;
  }
}

.online {
  padding: 84px 0;
  width: 100%;
  background-color: #191C26;
}
@media screen and (min-width: 1200px) {
  .online {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% + 15px);
  }
}

.online-title {
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-form {
  margin: 0 31px;
}

.online-input-wrap {
  z-index: -20;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .online-input-wrap {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 44px;
  }
}

.online-input,
.online-text {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
  outline: none;
  transition: border-color 300ms linear;
}
@media screen and (min-width: 768px) {
  .online-input,
  .online-text {
    width: 230px;
    margin-bottom: 0;
  }
}

.online-input:focus,
.online-text:focus {
  border-color: #ffffff;
}

.online-input:focus::-moz-placeholder, .online-text:focus::-moz-placeholder {
  color: #ffffff;
}

.online-input:focus::placeholder,
.online-text:focus::placeholder {
  color: #ffffff;
}

.online-text {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

.online-input::-moz-placeholder, .online-text::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
  -moz-transition: color 300ms linear;
  transition: color 300ms linear;
}

.online-input::placeholder,
.online-text::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-text-color);
  transition: color 300ms linear;
}

@media screen and (min-width: 768px) {
  .online-input + .online-input {
    width: 230px;
  }
}

.online-btn {
  margin-left: 25%;
  color: var(--first-button-color);
}
@media screen and (min-width: 768px) {
  .online-btn {
    margin-left: 0;
  }
}

.contact-wrapp .container {
  display: flex;
  z-index: -20;
}

.contacts {
  padding: 84px 0;
  width: 100%;
  background-color: #191C26;
  background-image: url(../img/contacts-bg-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contacts-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 100px 0;
    background-image: url(../img/contacts-bg-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contacts-bg-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% + 15px);
    padding-left: 100px;
    background-image: url(../img/contacts-bg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contacts-bg-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .contact-wrap {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    display: block;
  }
}

.contacts-title {
  text-align: center;
  margin-bottom: 40px;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .contacts-title {
    margin-left: 39px;
  }
}

.contacts-list {
  margin: 42px 31px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts-link {
    text-align: center;
  }
}

.contacts-icon {
  margin-right: 20px;
}

.contacts-bottom-title {
  margin-bottom: 20px;
  margin-left: 31px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.contacts-bottom-text {
  display: block;
  margin-left: 31px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .address-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    display: block;
  }
}

.adress-text {
  display: block;
}
@media screen and (min-width: 1200px) {
  .adress-text {
    max-width: 230px;
  }
}

.footer-container {
  display: flex;
  z-index: -20;
  flex-direction: column-reverse;
  padding: 44px 31px 44px 31px;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: center;
    padding: 57px 31px 55px 31px;
  }
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}

.footer-list {
  display: flex;
  margin-left: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-list {
    margin-bottom: 0;
  }
}

.footer-item {
  margin-right: 40px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-title-color);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */