.footer-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 44px 31px 44px 31px;
    background-color: var(--alt-background-color);
        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            padding: 57px 31px 55px 31px;

        }
}

.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-text-color);
}

.footer-list {
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.footer-item {
    margin-right: 40px;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
        &:hover,
        &:focus{
            color: var(--accent-color);
        }
}