.gallery {
    padding: 42px 0 84px 0;
    @media screen and (min-width: 768px) {
        padding: 50px 0;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 65px;
        padding-bottom: 130px;
    }
}

img {
    width: 100%;
}

.gallery-pre-title {
    margin-bottom: 44px;
    color: var(--fourth-text-color);
    &::before {
        color: var(--third-text-color);
    }
}

.gallery-list {
    
    margin-bottom: -30px;
    margin-right: -30px;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
}

.gallery-item {
    z-index: -20;
    margin-bottom: 30px;
    margin-right: 30px;
        @media screen and (min-width: 768px) {
            max-width: 330px;
        }
    
        @media screen and (min-width: 1200px) {
            width: calc(100% / 4 - 30px);
        }
}

.contact-wrapp .container {
    display: flex;
    background-color: #191C26;
}