.hero-container {
    display: flex;
    padding: 0;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    
}

.hero-left {
        width: 93px;
        display: none;
        align-items: flex-end;
        padding-left: 23px;
        padding-bottom: 40px;
        @media screen and (min-width: 768px) {
            width: 93px;
            display: flex;
            align-items: flex-end;
            padding-left: 23px;
            padding-bottom: 40px;
        }
}

.hero-list {
    display: flex;
    transform: rotate(-90deg) translate(-15px);
    transform-origin: top left;
    align-items: center;

    &::before {
        content: "";
        height: 1px;
        width: 60px;
        background-color: #303030;
        margin-right: 40px;
    }
}

.hero-item {
    &+& {
        margin-left: 40px;
    }
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
    transition: color 300ms linear;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.hero-right {
    background-color: var(--fourth-text-color);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)),
        url(../img/mobile-slider-img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    padding-top: 208px;
    padding-left: 31px;
    padding-bottom: 183px;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)), url(../../img/mobile-slider-img-3-2x.jpg)
        }
        @media screen and (min-width: 768px){
            padding-top: 272px;
            padding-bottom: 206px;
            padding-left: 96px;
            background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                        rgba(25, 28, 38, 0.2)),
                    url(../../img/tablet-slider-img-3.jpg);
        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                        rgba(25, 28, 38, 0.2)), url(../../img/tablet-slider-img-3-2x.jpg)
        }
    }
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                        rgba(25, 28, 38, 0.2)),
                    url(../../img/hero-bg.jpg);
            @media screen and (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)), url(../../img/tablet-slider-img-3-2x.jpg)
        }
    }      
}

.hero-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
    &::before {
        background-color: var(--first-text-color);
    }
    &:hover:before {
        background-color: tomato;
    }
}

.hero-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(56 / 48);
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-bottom: 20px;
        @media screen and (min-width: 1200px) {
            font-size: 72px;
        }
}

.hero-after-title {
    max-width: 400px;
    color: var(--second-text-color);
    @media screen and (max-width: 480px) {
        max-width: 306px;
    }
}
      